<%- include("partials/header.ejs") %>
<div class="about">
<div class="aboutText">
  <h1>About Us</h1>
  <p>
    Welcome to Blood Bridge, a platform dedicated to saving lives through blood
    donation. Our mission is to bridge the gap between donors and recipients,
    ensuring that life-saving blood is available when and where it is needed
    most.
  </p>
  <h3>Our Vision</h3>
  <p>
    At Blood Bridge, we envision a world where no life is lost due to a lack of
    blood. Through our platform, we strive to make blood donation more
    accessible, efficient, and impactful.
  </p>
  <h3>Our Mission</h3>
  <p>
    Our mission is to connect donors with recipients, creating a seamless and
    efficient process for blood donation. We aim to raise awareness about the
    importance of blood donation and empower individuals to become regular
    donors.
  </p>
</div>
<div class="aboutImage">
  <img class="blood_heart_image" src="images/blood_heart.png" alt="blood_heart" />
</div>
</div>
